.header {
  background-color: var(--secondary-color);
  height: 80px;
}
.logo {
  margin: 0;
  color: var(--primary-color);
  font-weight: 900 !important;
}
.nav {
  width: 500px;
}
.nav-link-container {
  list-style: none;
  color: var(--light-teal);
}
.nav-link {
  transition: all ease-in-out 0.5s;
}
.nav-link:hover {
  color: var(--primary-color) !important;
  text-decoration: underline;
}
