.main {
  background: var(--secondary-color);
}
.banner-section {
  height: calc(100vh - 100px);
}
.tag-line-container {
  width: 60%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}
.tag-line-text {
  color: var(--primary-color);
  margin: 0;
  line-height: 50px;
}
.tag-line-sub-text {
  color: var(--dark-teal);
  font-family: "Poppins", sans-serif;
  margin: 20px 0 30px 0;
}
.banner-button-container {
  gap: 15px;
  justify-content: flex-start;
}
.banner-btn-1,
.banner-btn-2 {
  width: 160px;
  height: 45px;
  border-radius: 50px;
  outline: 0 !important;
  gap: 8px;
  font-size: 16px;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner-btn-1 {
  color: var(--white);
  border: 0;
  background-color: var(--light-teal);
}
.banner-btn-1::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 25px;
  background-color: var(--white);
  opacity: 0.2;
  right: 13px;
  border-radius: 50%;
}
.banner-btn-1:active,
.banner-btn-2:active {
  box-shadow: none;
}
.banner-btn-2 {
  border: 1px solid var(--dark-teal);
  color: var(--dark-teal);
  background-color: var(--secondary-color);
}
.banner-image-container {
  width: 50%;
}
.image-background {
  width: 70%;
  height: 70%;
  bottom: 70px;
  right: 0;
  background: linear-gradient(
    to right bottom,
    var(--dark-teal),
    var(--light-teal),
    var(--secondary-color)
  );
  border-radius: 150px 0 0 0;
}
.banner-image {
  height: 80%;
  z-index: 11;
  bottom: 70px;
  right: 0;
}
.feature-container-1 {
  width: 180px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--light-teal);
  justify-content: space-around;
  left: 10%;
  bottom: 25%;
  z-index: 12;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--dark-teal);
}

.feature-icon-container {
  padding: 5px 7px;
}
@media (max-width: 769px) {
  .banner-image-container {
    display: none;
  }
  .tag-line-container {
    width: 100%;
    justify-content: flex-start;
    padding-top: 80px;
  }
}
@media (max-width: 576px) {
  .banner-button-container {
    justify-content: center;
  }
  .tag-line-text,
  .tag-line-sub-text {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .banner-btn-1 > svg,
  .banner-btn-2 > svg {
    display: none;
  }
  .banner-btn-1::after {
    display: none;
  }
}
